PORT=8091
DB_URL=postgres://psqladmin:yourPasword@localhost:5432/gommunication?sslmode=disable
API_KEY = sendGridApiKey
VONAGE_API_KEY=myKey
VONAGE_API_SECRET=mySecret
VONAGE_API_URL=https://rest.nexmo.com
VONAGE_API_CALL_BACK_URL="https://your.url/text-message/webhooks/delivery-receipt"
